@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@theme {
  --p-button: 3px;
}

@theme {
  --color-azure-50: #f0f9ff;
  --color-azure-100: #e0f2fe;
  --color-azure-200: #bae6fd;
  --color-azure-300: #7dd3fc;
  --color-azure-400: #38bdf8;
  --color-azure-500: #0ea5e9;
  --color-azure-600: #0284c7;
  --color-azure-700: #0369a1;
  --color-azure-800: #075985;
  --color-azure-900: #0c4a6e;
}